@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1e3a8a;
   --color-secondary: #f97316;

}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
